.grow-animation {
    animation: grow 2s infinite;
}

.fade-pop {
    animation: user-card 300ms;
}
.overlay-out {
    animation: overlay-out 200ms forwards;
}

@keyframes grow {
    20% {
        transform: translateY(-20px);
    }
    40% {
        transform: translateY(0);
    }
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
}

@keyframes popup-out {
    100% {
        opacity: 0;
        transform: translateY(100px);
    }
}

@keyframes overlay-out {
    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 0;
    }
}

@keyframes page {
    0% {
        transform: translateX(200px);
    }
    50% {
        transform: translateX(-10px);
    }
}

@keyframes page-back {
    0% {
        transform: translateX(-200px);
    }
    50% {
        transform: translateX(10px);
    }
}

@keyframes page-out {
    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}

@keyframes user-card {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
}
