::-webkit-scrollbar {
    width: 4px;
    height: 2px;
    border: none;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

html {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100vh;
    width: 100vw;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #202020;
    background-color: #ffffff;
    transition: 200ms;
}

body.theme-dark {
    color: #808080;
    background-color: #202020;
}

.dead-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: inherit;
    background-color: transparent;
}

.btn,
.m-input {
    font-size: 14px;
}

.theme-dark .m-input {
    color: #ffffff;
    background-color: #202020;
}

.theme-dark .form-select {
    color: #ffffff;
}

.m-input {
    border: none;
    border-bottom: 3px solid #ccc;
    border-radius: 0;
    padding: 2px 0;
}

.m-input:focus,
.m-input:active {
    outline: none;
    box-shadow: none !important;
    border-color: #dc3545;
}

.loading-backdrop {
    flex-grow: 1;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
}

.useless {
    opacity: 0;
    position: fixed;
    top: -1000px;
}

.link-hover-animation:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: 200ms;
}

.profile-picture-label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.profile-picture-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* background-image: url("../media/profilePicture.png"); */
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    border: 3px solid #e0e0e0;
    background-color: #f0f0f0;
}

.profile-picture-select-icon {
    position: absolute;
    bottom: -4px;
    right: -4px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 22px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.2);
}

.test {
    border: 1px solid red;
}

.tab-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* border: 1px solid red; */
}

.tab-header-container {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.tab-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 12px 20px;
    cursor: pointer;
    transition: 300ms;
    flex-grow: 1;
    border-bottom: 3px solid transparent;
    font-size: 12px;
}

.tab-header-active {
    border-color: #a0a0a0;
}

.tab-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    position: absolute;
    left: 0;
    height: 100%;
    transition: 300ms;
}

.tab {
    /* display: flex; */
    /* border: 1px solid red; */
    width: 100vw;
    height: 100%;
    /* padding: 20px; */
    /* background-color: grey; */
    flex-shrink: 0;
}

.profile-page-profile-icon {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 50%;
    border: 3px solid #e0e0e0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.send-more-icon {
    display: flex;
    font-family: "Material Icons Outlined";
    font-size: 24px;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    margin: 0 4px;
    /* border: 3px solid #6c757d; */
    border: none;
    /* background-color: #6c757d; */
    /* color: #ffffff; */
    border-radius: 50%;
}

.item-wrapper-1 {
    display: flex;
    align-items: center;
    /* margin: 0 10px; */
    padding: 12px 0;
    /* border: 1px solid red; */
    /* border-bottom: 2px solid #f0f0f0; */
}
.item-wrapper-1-control {
    font-family: "Material Icons Outlined";
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 200ms;
}

.item-wrapper-1-control:hover {
    background-color: #e0e0e0;
}

.item-wrapper-1-div-1 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.item-wrapper-1-div-1-1 {
    font-size: 12px;
    /* font-weight: 600; */
}

.item-wrapper-1-div-1-2 {
    /* font-size: 16px; */
    font-weight: 600;
}
.click-scale-animation:active {
    transition: 200ms;
    transform: scale(0.9);
}

.logo-text {
    font-weight: 900;
    font-family: "Nunito", sans-serif;
    color: #dc3545;
    font-size: 12px;
}

.theme-dark .text-dark {
    color: #e0e0e0 !important;
}
.theme-dark .text-muted {
    color: #a0a0a0 !important;
}

.theme-dark .border{
    border-color: #505050 !important;
}

.grow-animation {
    animation: grow-animation 2000ms infinite;
}

@keyframes grow-animation {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-20px);
    }
    40% {
        transform: translateY(0px);
    }
}


/* .secondary-message-text{
    color: #e0e0e0;
    color: #e0e0e0;
} */