.profile-card {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 12px 30px;
    overflow: auto;
    transition: 200ms;
    cursor: pointer;
}

.profile-card:hover {
    background-color: #f0f0f0;
}
.theme-dark .profile-card:hover {
    background-color: #181818;
}

.profile-card-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-image: url(./res/media/ac.png); */
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    border: 3px solid #e0e0e0;
    cursor: pointer;
}

.theme-dark .profile-card-image {
    border: 3px solid #404040;
    background-color: #303030;
}

.profile-card-content {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 0 20px;
    overflow: auto;
}

.profile-card-label {
    flex-shrink: 0;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    overflow: auto;
}

.profile-card-text > div,
.profile-card-text-2 > div,
.profile-card-label > div {
    flex-shrink: 0;
}

.profile-card-text-active,
.profile-card-text {
    display: flex;
    overflow: auto;
    font-size: 12px;
    font-weight: 600;
    color: #dc3545;
}

.profile-card-text {
    color: #a0a0a0;
}

.profile-card-meta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 80px;
}

.profile-card-meta-badge {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-weight: 600;
    color: #ffffff;
    background-color: #dc3545;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}
